*{
    margin: 0;
    padding: 0;
    font-size: inherit;
    font-weight: inherit;
    box-sizing: border-box;
}

@font-face{
    font-family: 'pacificoregular';
    src: url('./fonts/pacifico-webfont.woff2') format('woff2'),
         url('./fonts/pacifico-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html, body{
    min-height: 100vh;
}

header{
    background-color: rgb(24, 24, 24);
    
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    position: sticky;
    top: 0;
}

header h1{
    font-size: 3rem;
    font-family: 'pacificoregular', serif;
    word-spacing: 1rem;
    color: white;
}

header nav{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
}

header button{
    font-size: 1.25rem;
    width: 5rem;
    padding: .25rem 0;
    background-color: white;
    border-radius: .5rem;
}

header button:hover{
    cursor: pointer;
    background-color: rgb(189, 189, 189);
}

#content{
    display: grid;
    grid-template-columns: minmax(5vw, 3fr) 2fr 30vw minmax(5vw, 3fr);
    grid-template-rows: 77vh;
    padding-top: 3vh;
    background-color: rgb(16,16,16);
    min-height: max-content;

    font-family: 'Courier New', Courier, monospace;
}

#content .restaurant-info{
    grid-column: 2 / 3;
    color: white;
}

#content img{
    max-width: 100%;
    height: auto;
    grid-column: 3 / 4;
}

#content h1{
    font-size: 3rem;
}

#content h3{
    font-size: 1.25rem;
}